.texto1 {
    font-family: 'Roboto', sans-serif;
    font-size: $m;
    font-weight: $light;
    line-height: 45px;
}
.texto1-titulo {
    font-family: 'Playfair Display';
    font-weight: $regular;
    font-size: $l;
    color: $gris;
}   