// Blancos

$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

// Naomi

$orange: #E56353;
$rosado: #D76C69;
$rosado-claro: #ECBCBA;

// Negros

$negro: #121619;
$negro-claro: #222323;
$gris: #6C6E70;

// font weights

$light: 300;
$regular: 400; 
$bold: 900;

//font sizes

$xxl: 95px;
$xl: 30px;
$l: 18px;
$m: 16px;
$s: 12px;